<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete Board</title>
  <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<h1>Delete Board</h1>

<form action="/delete" method="post">
  <input type="hidden" name="id" th:value="${board.id}">
  <label for="password">암호:</label>
  <input type="password" id="password" name="password" required>
  <button type="submit">삭제</button>
</form>

<a th:href="@{/list}">게시판으로 돌아가기</a>
</body>
</html>
